@font-face {
    font-family: 'gilroy';
    src: url('../fonts/gilroy-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/gilroy-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
	padding: 0;
	margin: 0;	
	background-color: #ffffff;
	font-family: 'gilroy';
	font-size: 22px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.user-navigation a {
	font-family: "Open Sans", sans-sefif;
	font-size: 15px;
	line-height: 36px;	
}